@media only screen and (max-width: 700px) {
/*SECTION DE NAV*/
    .logo {
        max-width: 10%;
    }

    .nome {
        display: none;
    }

/*SECTION PROJETOS*/
    .title{
        font-size: 30px;
    }

    .projetos{
        display: flex;
        flex-direction: column;
    }

/*SECTION FOOTER*/
    .end {
        font-size: 10px;
    }

    .logoEnd {
        max-width: 4%;
    }
}