*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
	text-decoration: none;
}

body {
    background-color: #2B2B2B;
}

#tudo {
    background-image: url(assets\Imagens\download.jpg);
}

.nome{
	color: #e5e5e5 ;
	margin-left: 10px;
    flex: content;
    letter-spacing: 2px;
}

.sobrenome{
	color: #4256AA;
}

.logo{
	max-width: 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #e5e5e5;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    transition: .4s;
}

nav ul li a:hover{
    color: #4256AA;
    transform: scale(1.25);
    border-block-end: solid 2px #4256AA;
}

nav ul li a:active{
    color:#e5e5e5;
}

/*PORTFÓLIO*/
.portfólio{
    background-color: #2B2B2B;
}

.title{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin: 2rem;
}

.ponto{
    color: #4256AA;
}

.projetos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 0 2.5rem 2.5rem;
}

.box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #101010;
    overflow: hidden;
    display: flex;
    margin: 3%;
}

.box .construção{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgb(66, 86, 170) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.box:hover .construção{
    transform: translateY(0);
}

.construção h4{
    font-size: 30px;
}

#imagem{
    width: 100%;
    transition: .5s ease;
    opacity: 90%;
}

#imagem:hover{
    transform: scale(1.1);
}

.linkProjeto {
    text-decoration: none;
    color: #fff;
}

.linkProjeto:hover {
    color: #e5e5e5;
    transform: scale(1.1);
}


/*FOOTER*/
#copy{
    background-color: #101010;
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

hr {
    color: #191919;
}

.end{
    color: #e5e5e5;
    font-size: 14px ;
    margin-left: 5%;
}

.azul{
    color: #4256AA;
    font-size: 14px ;
}

.logoEnd{
    max-width: 2%;
    margin-right: 5%;
}